.button__add-widget{
    padding: 7px;
    background-color: #7579FF;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__add-widget:hover{
    background-color: #686DF0;
}