.input__wrapper{
    width: 500px;
    height: 150px;
    padding: 24px 0px 16px 20px;
    border: 1px solid #BDBDBD;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.input__currency{
    width: 471px;
    border: none;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: -0.05em;
}

.input__currency:focus{
    outline: none;
}

.input__current-rate{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.05em;
    text-align: left;
    color: #8F8F8F;
}

.input__currency::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }